<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NikeFetchDataTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F467CD81C75D78100EAF51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F467CE61C75D78900EAF51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB1CE681C6AECF400BEF7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB1CE811C6AECF500BEF7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB1CE8C1C6AECF500BEF7C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
